{% extends 'base.html' %}

{% block header %}
    <div class="bg_dark">

        <div class="title_bar">

            <h1>Traction Tracker</h1>
            <p>The <strong>Traction Tracker</strong> is designed to help start-ups and founders keep track of their early customer development activities.</p>

        </div>
    </div>
{% endblock header %}

{% block style %}
    textarea {
        border: 3px solid #cccccc;
        padding: 5px;
        font-family: Cabin Sketch, sans-serif;
        background-image: url(bg.gif);
        background-position: bottom right;
        background-repeat: no-repeat;
        width: 700px;
        height: 120px;
    }
    
    .icons {
        float:left;
        clear:both;
    }
    .step_icon {
        float:left;
        padding:4px;
        border:1px solid gray;
    }
    .current_step {
        float:left;
        clear:both;
    }
    .feed {
        float:left;
        clear:both; 
    }
    .feeditem {
        padding:5px;
    }
    .textbox{
        float:left;
        width:60%;
    }
    .buttons{
        float:left;
        width:30%;
        height: 80px;
    }
    
{% endblock style %}

{% block script %}


{% endblock script %}

{% block content %}

    <div class="jqmWindow" id="evidence_popup" style="overflow:auto;">
        <form action="/dashboard/evidence/" method="post">
            <input type="hidden" name="key" value="{{current_progress.key}}" />
            <br/>
            Results: <textarea name="evidence">{{current_progress.evidence}}</textarea>
            <a href="javascript:void(0);" onclick="$('#evidence_popup').jqmHide();">Actually I don't know enough yet</a>
            <input type="submit" value="Yeah!"/>
        </form>
    </div>

    <div class="icons">
        {% for step in steps %}
            <div class="step_icon">
                <a href="javascript:void(0);" onclick="click_step({{step.order}}, '{{step.key}}');">
                    <img src="{{ step.icon_big }}" />
                </a>
            </div>
        {% endfor %}
        <script>
            function click_step(step_num, step_key) {
                if (step_num <= {{current_progress.step.order}}) {
                    popup('/dashboard/pivot/?step=' + step_key);
                }
            }
        </script>
    </div>

    <div class="current_step">
        <form id="hypothesis_form" action="/dashboard/hypothesis/" method="post">
            <h3>{{ current_progress.step.name }}</h3>
            <input type="hidden" name="key" value="{{current_progress.key}}" />
            <br/>
            <p>We would define the <b>{{ current_progress.step.name }}</b> as:</p>
            
            <div class="textbox">
            <textarea name="hypothesis">{{current_progress.hypothesis}}</textarea>
            </div>
            <br/>
            
            <div class="buttons">
            <input id="save_and_continue" type="submit" value="Save" class="c2b"/>
            </div>
            </br>
            <div class="buttons">
            <input id="save_and_forward" type="submit" value="Onward!" class="c2a"/>
            </div>
        </form>

        <script>

            $("#hypothesis_form").submit( function(event) {
            });

            $("#save_and_forward").click( function(event) {
                event.preventDefault();

                $.post($("#hypothesis_form").attr("action"),
                        $("#hypothesis_form").serialize()
                    );

                $("#evidence_popup").jqm();
                $("#evidence_popup").jqmShow();
            });

            $("#save_and_continue").click( function(event) {
                event.preventDefault();

                $.post($("#hypothesis_form").attr("action"),
                        $("#hypothesis_form").serialize()
                    );
            });

        </script>
    </div>

    <div class="feed">
        {% for p in progress %}
            <div class="feeditem">
            <p>
                <img src="{{ p.step.icon_small }}" />
                <b>{{ p.company.name }}</b> defined their <b>{{ p.step.name }}</b> as <i>"{{p.hypothesis}}"</i>
                <br/>
                <p style="margin-left:100px;">and validated it by <i>"{{p.evidence}}"</i></p> on <i>{{ p.timestap }}</i>
            </p>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
