{% extends 'base.html' %}

{% block header %}

    <h1 class="dashboard_title">Traction tracker dashboard</h1>
    <p>The <strong>Traction Tracker</strong> is designed to help start-ups and founders keep track of their early customer development activities.</p>

{% endblock header %}

{% block style %}
    h1.dashboard_title {
        font-size:24px;
        font-family:"Cabin Sketch";
        color:#fff;
    }
    textarea {
        border: 2px solid #cccccc;
        padding: 5px;
        font-family: Cabin Sketch, sans-serif;
        //background-image: url(bg.gif);
        font-size: 24px;
        color: #666666;
        //background-position: bottom right;
        //background-repeat: no-repeat;
        width: 100%;
        height: 120px;
    }
    .icons {
        float:left;
        clear:both;
    }
    #bad_pivot {
        float:left;
        margin-top:10px;
    }
    .step_icon_area {
        float:left;
        margin:10px;
        position:relative;
        margin-bottom: 25px;
    }
    .step_icon_area h4 {
        font-family:'Helvetica';
        width:120px;
        height:120px;
        text-align:center;
    }
    .step_icon {
        float:left;
        padding:10px;
        border:4px solid white;
        position:absolute;
        top:60px;
        left:20px;

        -moz-border-radius: 18px;
        -webkit-border-radius: 18px;
        -o-border-radius: 18px;
        -ms-border-radius: 18px;
        -khtml-border-radius: 18px;
        border-radius: 18px;
    }
    .step_icon:hover {
        border:4px solid #bbb;
    }
    .current_step {
        padding: 36px;
        width: 90%;

        float:left;
        position:relative;
        clear:both;
        border:1px solid #bbb;

        -moz-border-radius: 48px;
        -webkit-border-radius: 48px;
        -o-border-radius: 48px;
        -ms-border-radius: 48px;
        -khtml-border-radius: 48px;
        border-radius: 48px;
    }
    .feed {
        float:left;
        clear:both;
        width: 100%;
        margin-bottom: 100px;
    }
    .feeditem {
        padding:5px 5px 5px 50px;
        margin-left:-50px;
        float:left;
        width:100%;
        min-height:40px;
        margin-bottom:15px;
        position:relative;
    }
    .feedbody > img {
        float:left;
        margin-right:10px;
        margin-top:8px;
    }
    .feedbody {
        float:left;
        width:95%;
        padding:8px;
    }
    .feeditem:hover .feedbody {
        background-color:#dfd;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -o-border-radius: 3px;
        -ms-border-radius: 3px;
        -khtml-border-radius: 3px;
        border-radius: 3px;
    }
    .feed_row {
        float:left;
        clear:right;
        width:100%;
    }
    .feed_row img {
        height:20px;
    }
    .feed_contents {
        float:left;
        width:94%;
    }

    .fr {
    float:right; }

    .light {
        color:#999;
    }
    .strong {
        color:#333!important;
        font-weight:bold;
    }
    .textbox {
        float:left;
        width:70%;
    }

    .edit_link {
        position:absolute;
        left:0px;
    }
    
{% endblock style %}

{% block script %}

    $(document).ready( function() {
        var pos = $("#step_icon_{{current_progress.step.key}}").offset();
        var pos2 = $(".current_step").offset();

        $("#step_arrow").css("left", pos.left - pos2.left);

        pos = $(".current_step").offset();
        //$("#step_arrow").css("top", pos.top - 31);

        $("#step_arrow").show();
    });


{% endblock script %}

{% block content %}

    <div id="bad_pivot" class="alert hidden">
        Before jumping this far ahead, you need to fill in beliefs for the preceding steps. Even if you aren't 100% sure, writing down what you're currently thinking will help you later.
        <a href="javascript:void(0);" class="medium" onclick="$('#bad_pivot').slideUp();">(Hide this message)</a>
    </div>
    
    <div class="icons">
        {% for step in steps %}
            <div class="step_icon_area">
                <div class="step_name">
                <h4>{{step.name}}</h4>
                </div>
                <div class="step_icon">
                    <a href="javascript:void(0);" onclick="click_step({{step.order}}, '{{step.key}}');">
                        <img id="step_icon_{{step.key}}" src="{{ step.icon_big }}" />
                    </a>
                </div>
            </div>
        {% endfor %}
        
        <script>

            $(function() {
                {% for step in steps %}
                    if ({{step.order}} > {{current_progress.step.order}}) {
                        $("#step_icon_{{step.key}}").attr("src", "{{step.icon_big_gray}}");
                    }
                {% endfor %}
            });

            function click_step(step_num, step_key) {
                if (step_num < {{current_progress.step.order}}) {
                    //pivot back to the same or earlier step
                    popup('/dashboard/pivot/?step=' + step_key);
                }
                /*else if (step_num == 1 + {{current_progress.step.order}}) {
                    //use the icon to move exactly one step forward
                    $("#save_and_forward").click();
                }*/
                
                else if (step_num == {{current_progress.step.order}}) {
                    //do nothing if click current step
                }
                
                else {
                    //not able to use icons to scoot ahead further than that
                    $("#bad_pivot").slideDown();
                }
            }
        </script>
    </div>

    <div class="current_step">
        <form id="hypothesis_form" action="/dashboard/hypothesis/" method="post">
            
            <div class="pivot_note" style="float:right; width:20%; margin-right:50px;">
            <div style ="float:left;"><img src="/media/icons/pivot.jpg"></div>
            <p style="margin-top:0.5em; width:220px;"><small><i>Pivot at any time by clicking on a previous step</i></small></p>
            </div>
            
            <a href="#" class="info"><h3>{{ current_progress.step.name }}</h3><span><small><i>{{current_progress.step.tooltip}}</i></small></span></a>
            
            <input type="hidden" name="key" value="{{current_progress.key}}" />
            <br/>

            {% if prev_progress %}
            <p>
            <small>Now that you've got a <i>{{prev_progress.step.name}}</i> of <i>{{prev_progress.hypothesis}}</i>,</small>
            </p>
            {% endif %}
            <p>
            Define your current <b>{{ current_progress.step.name }}</b>?
            </p>
            
            <div class="textbox">
                <textarea name="hypothesis">{{current_progress.hypothesis}}</textarea>
            </div>
            
            <div class="buttons">
            <input id="save_and_forward" type="submit" value="Validate!" class="c2a"/>
            <input id="save_and_continue" type="submit" value="Save" class="c2b"/>
            </div>

            {% ifnotequal current_progress.step.next current_progress.step %}
                <div class="skip">
                    <small><a href="/dashboard/skip_step/">Skip step, I'll do this later</a></small>
                </div>
            {% endifnotequal %}
        </form>

        <img style="position:absolute;top:-31px;" class="hidden" id="step_arrow" src="/media/tri.jpg" />

        <script>

            $("#hypothesis_form").submit( function(event) {
            });

            $("#save_and_forward").click( function(event) {
                if (event) {
                    event.preventDefault();
                }

                $.post($("#hypothesis_form").attr("action"),
                        $("#hypothesis_form").serialize()
                    );

                popup('/dashboard/add_evidence/?progress={{current_progress.key}}');
            });

            $("#save_and_continue").click( function(event) {
                if (event) {
                    event.preventDefault();
                }

                $.post($("#hypothesis_form").attr("action"),
                        $("#hypothesis_form").serialize()
                    );
            });

        </script>
    </div>
    
    <div class="feed">
    <p><h3>History</h3></p>
        {% for p in progress %}

            <div class="feeditem">

                <div class="feedbody">

                    <img src="{{ p.step.icon_small }}" />

                    <div class="feed_contents">
                        <div class="feed_row">
                            <span class="strong">{{ p.company.name }}</span>
                           
                            <span class="light">
                                {% if p.has_pivoted %}
                                has pivoted from</span> {{p.step.name}} <img src="{{p.progress_img}}" />
                                {% else %}{% if p.has_validated %}
                                has validated</span> {{p.step.name}} <img src="{{p.progress_img}}" />
                                {% else %}{% if p.in_progress %}
                                has started</span> {{p.step.name}}
                                {% endif %}{% endif %}{% endif %}
                            
                            <div class="light fr">{{p.timestamp|date:"F d, Y"}}</div>
                        </div>

                        <div class="feed_row">
                            {{ p.hypothesis }}
                        </div>
                        <div class="light feed_row">
                            {{ p.evidence }}
                        </div>
                    </div>

                </div>

                <a class="edit_link hidden" href="javascript:void(0);" onclick="popup('/dashboard/edit_progress/?progress={{p.key}}');">Edit </a>
            </div>

        {% endfor %}

        <script>
            $(".feeditem").mouseover(function(event) {
                $(this).children(".edit_link").show();
            });
            $(".feeditem").mouseout(function(event) {
                $(this).children(".edit_link").hide();
            });
        </script>

    </div>
{% endblock content %}
