{% extends 'popup.html' %}

{% block header %}
<p>The truth? You can't handle the truth!</p>
{% endblock %}

{% block content %}
    <form action="/dashboard/evidence/" method="post">
        <input type="hidden" name="key" value="{{current_progress.key}}" />
        <input type="hidden" name="next_step" value="{{current_progress.step.next.key}}" />
        <br/>
        What evidence do you have to validate your <b>{{current_progress.step.name }}</b> hypothesis?<textarea name="evidence">{{current_progress.evidence}}</textarea>
        <a href="javascript:void(0);" onclick="closePopup();">Actually I don't know enough yet</a>
        <input type="submit" value="Yeah!" class="c2a" style="float:right; margin:10px;"/>
    </form>
{% endblock content %}
