{% extends 'popup.html' %}

{% block content %}
    
        <form action="/dashboard/evidence/" method="post">
            {{ current_progress.step.name }}
            <input type="hidden" name="key" value="{{current_progress.key}}" />
            <input type="hidden" name="next_step" value="{{next_step.key}}" />
            <br/>
            Results: <textarea name="evidence">{{current_progress.evidence}}</textarea>
            <br/>
            <a href="javascript:void(0);" onclick="closePopup();">Actually I don't know enough yet</a>
            <input type="submit" value="Pivot!"/>
        </form>

{% endblock %}
