{% extends 'evidence_popup.html' %}

{% block evidence_prompt %}
    <p>
    What evidence do you have for changing your exisiting <b>{{next_step.name}}</b> hypotheses?
    </p>
{% endblock %}

{% block confidence_prompt %}
    <p>
    How confident are you that the current direction is not going to work?
    </p>
{% endblock confidence_prompt %}

{% block number_prompt %}
    <p>
    {{current_progress.step.numeric_question}} to disprove your <b>{{current_progress.step.name}}</b> hypothesis?
    </p>
{% endblock number_prompt %}

{% block buttons %}
    <input type="submit" value="Pivot!" class="c2b" style="float:right; margin:10px;"/>
    <p style="text-align:right; clear:both; float:right; margin-top:10px;""><a href="javascript:void(0);" onclick="closePopup();"><small>Actually I don't know enough yet</small></a></p>
{% endblock buttons %}
