<html>
    <head>
        <style>
            
        </style>
        
        <script type="text/javascript" language="javascript" src="ForceNumericInput.js">
        
        </script>
        
    </head>

    <body>
        <div class="popup">
            <div class="popup_header">
                <h1>{% block header %}{% endblock %}</h1>
                <span style="float:right;margin-right:10px;"><a href="javascript:void(0);" onclick="closePopup();">[X] Close</a></span>
            </div>

            <div class="popup_content">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </body>
</html>
